/* 
    TABLE OF CONTENT
    =================

    1.menu part
    2.hero part
    3.logo part
    4.why choose us part
    5.our team part
    6.contact part
    7.subscribe part


*/
:root{
    --main-color: #18A7B9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,a,ul,li,i,p{
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #6B6B6B;
}
h2{
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    color: #313131;
}
.cbtn{
    display: inline-block;
    height: 64px;
    width: 210px;
    font-size: 17px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.5px;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 40px 5px;
    color: var(--main-color);
    transition: .5s;
}
/* menu part css */
.logo{
    color: var(--main-color);
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.06em;
    cursor: pointer;
}
.logo:hover{
    color: var(--main-color);
}
#myNav ul li a{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #313131;
    margin: 0 20px;
}
#menu_part{
    padding-top: 30px;
}
.menuFix-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
    background: red;
    height: 64px;
    width: 100%;
}
/* hero part css */
#hero_part h1{
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -0.04em;
    margin-top: 100px;
}
.hero_part_left{
    padding-left: 10px;
}
#hero_part h1 span{
    color: var(--main-color);
}
.hero_part_left p{
    margin: 40px 0;
}
.hbtn_left,
.hero_part_left .hbtn:hover{
    background: var(--main-color);
    color: #fff;
    box-shadow: 0px 64.8148px 46.8519px rgba(24, 167, 185, 0.0759259), 0px 38.5185px 25.4815px rgba(24, 167, 185, 0.0607407), 0px 20px 13px rgba(24, 167, 185, 0.05), 0px 8.14815px 6.51852px rgba(24, 167, 185, 0.0392593), 0px 1.85185px 3.14815px rgba(24, 167, 185, 0.0240741)
}
.hero_part_left .hbtn_right{
    margin-left: 12px;
}
.counter{
    margin-top: 100px;
}
.counter h3{
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    color: #313131;
    position: relative;
}
.counter h5{
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
    color: #6B6B6B;
}
.counter h3::after{
    content: '';
    position: absolute;
    width: 35.44px;
    height: 39.19px;
    background: url(../images/Ellipse\ 739.jpg);
    top: -10px;
    left: 25px;
    transform: rotate(-7.53deg);
    z-index: -1;
}
.hero_img_wrapper{
    overflow: 0 hidden;
}

.hero_img{
    position: relative;
    top: -65px;
    height: 750px;
    left: 0px;
    border-radius: 0 0 0 170px;
    z-index: -1;
    background-position: center !important;
    background-size: cover !important;
}
.hero_img::after{
    content: '';
    position: absolute;
    width: 238px;
    height: 213px;
    left: -97px;
    top: 30px;
    background: #C9E7FF;
    opacity: 0.4;
    border-radius: 106.5px 5px 5px 5px;
    z-index: -3;
}
.hero_img::before{
    content: '';
    position: absolute;
    width: 238px;
    height: 213px;
    right: 40px;
    bottom: -20px;
    background: #C9E7FF;
    opacity: 0.4;
    border-radius: 6.5px 5px 5px 106.5px;
    z-index: -3;
}
/* logo part */
#logo_part{
    padding: 40px 10px;
}
.logo_slider {
    background-color: #fafafa;
    border-radius: 120px;
    margin: 50px 0;
    padding: 50px 48px;
}
.logos_wrapper img{
    display: block;
    width: 100%;
}
.logos_wrapper{
    margin: 0 30px;
}

.victor_img{
    position: absolute;
    top: 538px;
    left: 170px;
    z-index: -1;
}
/* why choose us css*/
#choose_us_part{
    padding-top: 120px;
}
#choose_us_part a{
    margin-top: 40px;
}
#choose_us_part a:hover{
    background: var(--main-color);
    color: #fff;
    box-shadow: 0px 64.8148px 46.8519px rgba(24, 167, 185, 0.0759259), 0px 38.5185px 25.4815px rgba(24, 167, 185, 0.0607407), 0px 20px 13px rgba(24, 167, 185, 0.05), 0px 8.14815px 6.51852px rgba(24, 167, 185, 0.0392593), 0px 1.85185px 3.14815px rgba(24, 167, 185, 0.0240741)
}
#choose_us_part h2{
    font-size: 54px;
    font-weight: 500;
    line-height: 65px;
    margin-left: 60px;
    color: #313131;
}
.banner_two{
    padding-top: 110px;
}
.banner_two img{
    display: block;
}
.choose_items{
    display: flex;
    align-items: center;
    margin: 110px 0;
}
.choose_content{
    margin: 0 55px;
}
/* our team part  */
#our_team_part{
    padding: 110px 0;
}

.our_team_header{
    padding-bottom: 70px;
}
.our_team_header h2{
    padding-bottom: 30px;
}
.team_member_wrapper{
    padding: 25px 25px 50px 25px;
    box-shadow: 0 0 5px #ddd;
    margin: 5px 30px 50px 30px;
}
.team_icon{
    display: flex;
    justify-content: space-between;
}
.team_icon .g_c_icon{
    color: #F0BB00;
}
.member_img img{
    margin: 30px auto;
    display: block;
}
.team_member_wrapper h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 10px;
}
.team_member_wrapper h6{
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 50px;
}
.team_member_wrapper h5{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
    color: #6B6B6B;
}
.team_member_wrapper a{
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--main-color);
    margin-top: 10px;
}
.our_team_btn{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 40px;
    margin: 0 6px;
    transition: .5s;
}
.t_i_btn{
    padding: 5px;
    box-shadow: 0 0 5px #ddd;
    border-radius: 40px;
}
.i:hover{
    background-color: var(--main-color);
    color: #fff;
}
.our_team_nextprev{
    position: absolute;
    left: 48%;
    bottom: -46px;
}
.our_team_nextArrow{
    position: absolute;
    left: 52%;
    bottom: -46px;
}
/* massage from ceo css */
#massage_from_ceo_part{
    background: url(../images/Rectangle\ 4307.jpg);
    background-position: center;
    background-size: cover;
    padding: 190px 0;
    z-index: -1;
}
.massages_from_ceo_hader{
    margin: auto;
}
.massages_from_ceo_hader h2{
    color: #fafafa;
    text-align: center;
}
#massage_from_ceo_part .massage_content p{
    color: #fafafa;
}
.content_btm{
    margin-top: 40px;
}
.massage_icon_btm img{
    display: block;
    margin-left: auto;
}
/* contact part css */
#contact_part{
    padding-top: 100px;
}
.contact_part_header h2{
    padding-bottom: 30px;
}
.contact_part_header{
    padding: 30px 0;
}
.form_control{
    width: 100%;
    padding: 16px 15px;
    border: none;
    background: #f9f9f9;
    border-radius: 7px;
    margin-bottom: 25px;
}
.form_control:focus{
    background-color: transparent;
    color: #313131;
    border: 1px solid #ddd;
}
.contact_form{
    margin-top: 50px;
}
#text_area{
    height: 200px;
}
.contact_form button{
    background: transparent;
}
.contact_form button:hover{
    background: var(--main-color);
    color: #fff;
    box-shadow: 0px 64.8148px 46.8519px rgba(24, 167, 185, 0.0759259), 0px 38.5185px 25.4815px rgba(24, 167, 185, 0.0607407), 0px 20px 13px rgba(24, 167, 185, 0.05), 0px 8.14815px 6.51852px rgba(24, 167, 185, 0.0392593), 0px 1.85185px 3.14815px rgba(24, 167, 185, 0.0240741)
}
/* blog part css */
.blog_banner{
    background: url(../images/Img-2.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    border-radius: 20px;
    margin-top: 40px;
    z-index: -1;
    padding-bottom: 60px;
}
.banner_b_content h3{
    font-weight: 700;
    font-size: 27px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-align: center;
}
.banner_b_content {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}
.banner_b_content p{
    color: #fff;
    margin-bottom: 30px;
}
.b_two_banner{
    background: url(../images/Img-2\ \(1\).png);
    background-position: center;
    background-size: cover;
    height: 500px;
    border-radius: 20px;
    margin-top: 40px;
    z-index: -1;
    padding-bottom: 60px;
}
.blog_banner_dual{
    width: 100%;
}
.blog_btn{
    color: #fff;
    border-color: #fff;
    display: none;
    transition: .5s;
    margin: auto;
}
.blog_banner:hover .blog_btn,
.b_two_banner:hover .blog_btn{
    display: block;
}
/* subscribe part css*/
#subscribe_part{
    padding: 100px 0;
}
#subscribe_part .sbtn{
    margin-top: 40px;
    text-transform: uppercase;
}
.sbtn i{
    margin-left: 15px;
}
#subscribe_part .sbtn:hover{
    color: #fafafa;
    background: var(--main-color);
    box-shadow: 0px 64.8148px 46.8519px rgba(24, 167, 185, 0.0759259), 0px 38.5185px 25.4815px rgba(24, 167, 185, 0.0607407), 0px 20px 13px rgba(24, 167, 185, 0.05), 0px 8.14815px 6.51852px rgba(24, 167, 185, 0.0392593), 0px 1.85185px 3.14815px rgba(24, 167, 185, 0.0240741)
}
/* footer part css */
#footer_part{
    padding: 15px 0 100px 0;
}
.footer_logo p{
    margin: 25px 0;
}
.footer_logo i{
    color: #fff;
    font-size: 16px;
    height: 29px;
    width: 29px;
    line-height: 29px;
    text-align: center;
    background: var(--main-color);
    border-radius: 10px;
    margin-right: 16px;
}

.footer_items h5{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #313131;
    margin-bottom: 35px;
}
.footer_items p{
    margin-bottom: 15px;
}
.footer_items a{
    color: #6B6B6B;
}
.footer_items i{
    margin-left: 15px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}
